<!doctype html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	
	tr:nth-child(even) {
	  background-color: #dddddd;
	}
  </style>
  
    <script type="text/javascript">
  	async function addCustomer() {
  		var customerInputDto = {
  			"firstname":document.getElementById("firstname").value,
  			"lastname":document.getElementById("lastname").value,
  			"birthdate":document.getElementById("birthdate").value,
  			"gender":document.getElementById("gender").value
  		}
		await fetch('http://127.0.0.1:8080/api/v1/customers', {
	  		method: 'POST',
	  	 	headers: {
	  	    	'Content-Type': 'application/json',
	  	  	},
  			body: JSON.stringify(customerInputDto),
	  	  })
  	  
		location.reload();
  	}
  	
  	async function deleteCustomer(id) {
    	  await fetch('http://127.0.0.1:8080/api/v1/customers/' + id, {
    	    method: 'DELETE',
    	  })
    	  
    	  location.reload();
    	  
    	}
  </script>
  
  <body>
    <h1>Customer List</h1>
    <table>
    	<tr>
    		<th>ID</th>
    		<th>Firstname</th>
    		<th>Lastname</th>
    		<th>Birthdate</th>
    		<th>Gender</th>
    		<th>Notes</th>
    		<th></th>
    	</tr>
    	<tr th:each = "customer : ${customers}">
    		<td th:text = "${customer.id}">customer_id</td>
    		<td th:text = "${customer.firstname}">firstname</td>
    		<td th:text = "${customer.lastname}">lastname</td>
    		<td th:text = "${customer.birthdate}">birthdate</td>
    		<td th:text = "${customer.gender.getGenderName()}">gender</td>
    		<td>
    		<table>
    			<tr th:each = "note : ${customer.notes}">
    				<td th:text = "${note.note}">note</td>
   				</tr>
    		</table>
		    </td>
		    <td>
    			<button th:onclick="'deleteCustomer('+${customer.id}+')'">Löschen</button>
    		</td>
    	</tr>
    </table>
    
    <br>
    <br>
    <br>
    <br>
    <h2>Customer hinzufügen</h2>
    
    <table>
    	<tr>
		  	<th>Firstname</th>
			<th>Lastname</th>
			<th>Birthdate</th>
			<th>Gender</th>
			<th></th>
		</tr>
		<tr>
			<td><input type="text" id="firstname"></td>
			<td><input type="text" id="lastname"></td>
			<td><input type="date" id="birthdate"></td>
			<td><input type="text" id="gender"></td>
			<td><button onclick="addCustomer()">Hinzufügen</button></td>
		</tr>
    </table>
    
    
  </body>
</html>